<html>

<head>
    <title>Game Page</title>
    <!-- Include any stylesheets or scripts as needed -->
    <script src="/public/js/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/public/css/chessboard-1.0.0.min.css" />
    <script src="/public/js/chessboard-1.0.0.min.js"></script>
    <script src="/public/js/chess-0.10.3.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="/socket.io/socket.io.js"></script>
    <script>let socket = io();</script>
</head>

<body>

    <label>Status:</label>
    <div id="status"></div>
    <div id="myBoard" style="width: 700px"></div>
    <label>PGN:</label>
    <div id="pgn"></div>

    <script>
        let playerColor = '<%= color %>';
        console.log('Playing as ' + playerColor);
    </script>
    <script src="/public/js/index.js"></script>
</body>

</html>