/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dee2ff; /* Dark background */
  color: #fff; /* Light text */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container,
.exp {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 12.2px;
  text-align: center;
  color: black;
}

.header {
  background: linear-gradient(
    to right,
    #141e30,
    #243b55
  ); /* Gradient background */
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #fff;
}

.navbar {
  background-color: #333; /* Dark background */
  padding: 10px 0;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #4caf50; /* Green hover color */
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.game-card {
  min-width: 30%; /* Adjust to fit three cards in the container */
  margin-right: 20px; /* Space between cards */
  /* background-color: rgba(51, 51, 51, 0.9); Semi-transparent background */
  background-color: #000814;
  padding: 22px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
game-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.game-card a {
  text-decoration: none;
  color: inherit;
}

.game-img {
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.game-img img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.game-img img:hover {
  transform: scale(1.1);
}

.game-title {
  font-size: 1.5em;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  color: #e1e5f2;
}
.coming-soon .game-card {
  background-color: #444; /* Slightly lighter background */
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel-button {
  background: transparent;
  border: none;
  color: #fff; /* Light text */
  font-size: 2em;
  cursor: pointer;
  padding: 0 20px;
  transition: color 0.3s ease;
}

.carousel-button:hover {
  color: blue; /* Green hover color */
}

.hero {
  background: url("https://www.desktopbackground.org/download/1920x1080/2015/03/29/931040_cs-go-global-offensive-wallpapers-hd-wallpaper-backgrounds_1920x1080_h.jpg")
    no-repeat center center/cover;
  color: #fff; /* Light text */
  padding: 80px 0;
  text-align: center;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.hero .btn {
  background-color: #4caf50; /* Green background */
  color: #fff; /* Light text */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hero .btn:hover {
  background-color: #45a049; /* Darker green hover color */
}

.footer {
  background-color: #333; /* Dark background */
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

.footer p {
  color: #fff; /* Light text */
}

.social-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  text-decoration: none;
  color: #fff; /* Light text */
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #4caf50; /* Green hover color */
}

#profile-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff; /* Light text */
}

.dropdown {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #333; /* Dark background */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #fff; /* Light text */
  z-index: 1000;
}

.dropdown a {
  text-decoration: none;
  color: #fff; /* Light text */
  display: block;
  margin: 5px 0;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.dropdown a:hover {
  background-color: #4caf50; /* Green hover color */
}

.dropdown button {
  background-color: transparent;
  border: none;
  color: #fff; /* Light text */
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.dropdown button:hover {
  background-color: #4caf50; /* Green hover color */
}

.announcement-content {
  text-align: center;
  color: red;
}

.announcement {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #1e96fc;
  background-color: #fcf300;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: blink-animation 1s infinite alternate;
}

.announcement h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.announcement p {
  font-size: 1.2em;
}
.announcement-content .blink {
  font-weight: bold;
  font-size: 1.5em;
}

@keyframes blink-animation {
  0% {
    opacity: 1.5;
  }
  100% {
    opacity: 0.6;
  }
}
